# dependencies
/node_modules

# code editors
/.idea
/.vscode/*

# add the extensions recommendations to the repository
!/.vscode/extensions.json

# env files
.*.env
.env
.env.local
serviceAccount.json
# production
/dist
/tests-built

# typescript
*.tsbuildinfo

# logs
/logs

# cache
.eslintcache

# testing
/coverage

